# Arquivos e pastas do Godot
# Ignora a pasta que armazena dados de cache do projeto.
.godot/

# Traduções importadas (geradas automaticamente a partir de arquivos .csv)
*.translation

# Arquivos de exportação que podem conter informações sensíveis ou específicas da máquina.
export_presets.cfg

# Arquivos de compilação e executáveis (builds)
build/
Builds/
*.exe
*.apk
*.aab
*.pck
*.wasm
*.html

# Arquivos específicos de editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de backup do Godot
*.tscn-folding
*.tres-folding

# Opcional: Para projetos que usam C# com Godot
# Descomente as linhas abaixo se você estiver usando C#
# .mono/
# bin/
# obj/